.nonoGameEl{
    display: flex;
    flex-wrap: nowrap;
}
.empty{
    
    width:139px;//bo field to 25px, 10xfield=250+2x10x1pxBorder=250+20=270px /2= 135px + 2x1px border + 1x2px border = 135+1+1+2=139
    height: 135px;
}

app-nono-tips-left{
    display: flex;
}
app-nono-board{
    display: flex;
}
