
.mainBoard{
    margin-top: 3px;
    width: 135px;
    height: 270px;
}
.field {
  
    width: 25px;
    height: 27px;
   
  }
  .flex {
    display: flex;
    flex-wrap: nowrap;
  }
  .leftTip{

    width: 25px;
    height: 27px;
    text-align: right;
      color: #000;
  }